$PrimaryColor: rgba(231, 224, 255, 255);
$SecondaryColor: rgba(189,166, 254,255);
$HoverColor: #8059f2;
$Shadow: 0px 6px 15px rgba(0, 0, 0, 0.15) ;
$Shadow2: 0px 6px 15px rgba(3, 3, 3, 0.664) ;
$NeutralColor: gray;